<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h3>All User</h3>
        <a href="{%url 'register'%}"><input type="button" value="Register Blog User"></a>
        <a href="{%url 'index'%}"><input type="button" value="Home Page"></a>

        {%for i in user%}
    <b><hr></b><br>
    <b>Name:</b> {{i.fname}} {{i.lname}}
    <a href="{%url 'update' i.pk%}"><input type="button" value="Update"></a>
    <a href="{%url 'delete' i.pk%}"><input type="button" value="Delete" i.pk></a>

    <p><b>Email:</b> {{i.email }}
    {% endfor %}    
    </body>
</html>