<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blog With Short Title</title>
</head>
<body>
    <a href="{%url 'register'%}"><input type="button" value="Register"></a>
    <a href="{%url 'login'%}"><input type="button" value="Login"></a>
    {%for i in blogs%}
    <b><hr></b>
    <h3>Title: {{i.title}}</h3>
    <p>Description: {{i.desc|truncatechars:10 }} <a href="{%url 'detailView' i.pk%}">See more</a></p>
    {% endfor %}    
</body>
</html>